openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
pkcs11 = pkcs11_sect

[pkcs11_sect]
module = /Users/ericamador/antigravity/softhsmv3/build/src/vendor/pkcs11-provider/libpkcs11-provider.dylib
pkcs11-module-path = /Users/ericamador/antigravity/softhsmv3/build/src/lib/libsofthsmv3.dylib
activate = 1
